In [1]:
#basic imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import env
from os.path import exists

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Acquire and Summarize

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.  
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method)   
- Only include properties that have a latitude and longitude value.

In [2]:

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_zillow_data():
    '''
    Reads in all fields from the customers table in the mall_customers schema from data.codeup.com
    
    parameters: None
    
    returns: a single Pandas DataFrame with the index set to the primary customer_id field
    '''

    sql = """
    SELECT *, properties_2017.id as property_id
    FROM properties_2017 
    LEFT JOIN propertylandusetype USING (propertylandusetypeid)
    LEFT JOIN predictions_2017 USING (parcelid)
    LEFT JOIN unique_properties USING (parcelid)
    LEFT JOIN airconditioningtype USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
    LEFT JOIN storytype USING (storytypeid)
    LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)

    WHERE propertylandusedesc IN ("Single Family Residential", "Inferred Single Family Residential") 
        AND transactiondate like '%%2017%%'
    """

    if exists('zillow_data.csv'):
        df = pd.read_csv('zillow_data.csv')
    else:
        df = pd.read_sql(sql, get_connection('zillow'))
    return df

In [3]:
df = get_zillow_data()

In [4]:
df = df.drop_duplicates(subset='property_id', keep='last')

In [5]:
#two brackets to return a dataframe of two columns
# print(df[df.duplicated(subset= 'property_id', keep=False)][['property_id','transactiondate']].sort_values(by=['property_id', 'transactiondate']))
# df[df.duplicated(subset= 'property_id', keep='last')][['property_id','transactiondate']].sort_values(by=['property_id', 'transactiondate'])

In [6]:
df.info() # --> no nulls in lat/longitude value

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52320 entries, 0 to 52440
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   heatingorsystemtypeid         33850 non-null  float64
 3   buildingclasstypeid           0 non-null      object
 4   architecturalstyletypeid      70 non-null     float64
 5   airconditioningtypeid         13615 non-null  float64
 6   parcelid                      52320 non-null  int64
 7   propertylandusetypeid         52320 non-null  float64
 8   id                            52320 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52320 non-null  float64
 11  bedroomcnt                    52320 non-null  float64
 12  buildingqualitytypeid         33655 non-null  float64
 13  calculatedbathnbr             52185 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4371 non-null   float64
 16  calculatedfinishedsquarefeet  52239 non-null  float64
 17  finishedsquarefeet12          52074 non-null  float64
 18  finishedsquarefeet13          0 non-null      object
 19  finishedsquarefeet15          0 non-null      object
 20  finishedsquarefeet50          4371 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52320 non-null  float64
 23  fireplacecnt                  7233 non-null   float64
 24  fullbathcnt                   52185 non-null  float64
 25  garagecarcnt                  17984 non-null  float64
 26  garagetotalsqft               17984 non-null  float64
 27  hashottuborspa                1514 non-null   float64
 28  latitude                      52320 non-null  float64
 29  longitude                     52320 non-null  float64
 30  lotsizesquarefeet             51954 non-null  float64
 31  poolcnt                       11077 non-null  float64
 32  poolsizesum                   865 non-null    float64
 33  pooltypeid10                  443 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   9990 non-null   float64
 36  propertycountylandusecode     52320 non-null  object
 37  propertyzoningdesc            33762 non-null  object
 38  rawcensustractandblock        52320 non-null  float64
 39  regionidcity                  51284 non-null  float64
 40  regionidcounty                52320 non-null  float64
 41  regionidneighborhood          18981 non-null  float64
 42  regionidzip                   52294 non-null  float64
 43  roomcnt                       52320 non-null  float64
 44  threequarterbathnbr           6717 non-null   float64
 45  unitcnt                       33762 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52206 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52238 non-null  float64
 52  taxvaluedollarcnt             52319 non-null  float64
 53  assessmentyear                52320 non-null  float64
 54  landtaxvaluedollarcnt         52319 non-null  float64
 55  taxamount                     52316 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52199 non-null  float64
 59  propertylandusedesc           52320 non-null  object
 60  id                            52320 non-null  int64
 61  logerror                      52320 non-null  float64
 62  transactiondate               52320 non-null  object
 63  airconditioningdesc           13615 non-null  object
 64  architecturalstyledesc        70 non-null     object
 65  buildingclassdesc             0 non-null      object
 66  heatingorsystemdesc           33850 non-null  object
 67  storydesc                     47 non-null     object
 68  typeconstructiondesc          76 non-null     object
 69  property_id                   52320 non-null  int64
dtypes: float64(52), int64(4), object(14)
memory usage: 28.3+ MB

In [7]:
#drops the initial 'id' columns. property_id is a duplicated version for this reason
df.drop(df.columns[60], axis=1, inplace=True)

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [8]:
# examine row by row basics:

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prnt_miss})
    rows_missing = rows_missing.reset_index().groupby(['num_cols_missing', 'percent_cols_missing']).count().reset_index().\

    return rows_missing

In [9]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    percnt_miss = num_missing / df.shape[0] * 100
    cols_missing = pd.DataFrame(
        {
            'num_rows_missing': num_missing,
            'percent_rows_missing': percnt_miss
        }
    )
    return cols_missing

In [10]:
def summarize(df):
    print('DaataFrame head:\n')
    print(df.head().to_markdown())
    print('-----')
    print('DataFrame info:\n')
    print (df.info())
    print('---')
    print('DataFrame describe:\n')
    print (df.describe())
    print('---')
    print('DataFrame null value asssessment:\n')
    print('Nulls By Column:', nulls_by_col(df))
    print('----')
    print('Nulls By Row:', nulls_by_row(df))
    numerical_cols = df.select_dtypes(exclude='object').columns.to_list()
    categorical_cols = df.select_dtypes(include='object').columns.to_list()
    print('value_counts: \n')
    for col in df.columns:
        print(f'Column Names: {col}')
        if col in categorical_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False, dropna=False))
            print('---')
    print('Report Finished')
    return

In [11]:
summarize(df)

DaataFrame head:

|    |   typeconstructiontypeid |   storytypeid |   heatingorsystemtypeid | buildingclasstypeid   |   architecturalstyletypeid |   airconditioningtypeid |   parcelid |   propertylandusetypeid |   basementsqft |   bathroomcnt |   bedroomcnt |   buildingqualitytypeid |   calculatedbathnbr |   decktypeid |   finishedfloor1squarefeet |   calculatedfinishedsquarefeet |   finishedsquarefeet12 | finishedsquarefeet13   | finishedsquarefeet15   |   finishedsquarefeet50 |   finishedsquarefeet6 |   fips |   fireplacecnt |   fullbathcnt |   garagecarcnt |   garagetotalsqft |   hashottuborspa |    latitude |    longitude |   lotsizesquarefeet |   poolcnt |   poolsizesum |   pooltypeid10 |   pooltypeid2 |   pooltypeid7 |   propertycountylandusecode | propertyzoningdesc   |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidneighborhood |   regionidzip |   roomcnt |   threequarterbathnbr |   unitcnt |   yardbuildingsqft17 |   yardbuildingsqft26 |   yearbuilt |   numberofstories |   fireplaceflag |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount | taxdelinquencyflag   |   taxdelinquencyyear |   censustractandblock | propertylandusedesc       |    logerror | transactiondate   | airconditioningdesc   | architecturalstyledesc   | buildingclassdesc   | heatingorsystemdesc   | storydesc   | typeconstructiondesc   |   property_id |
|---:|-------------------------:|--------------:|------------------------:|:----------------------|---------------------------:|------------------------:|-----------:|------------------------:|---------------:|--------------:|-------------:|------------------------:|--------------------:|-------------:|---------------------------:|-------------------------------:|-----------------------:|:-----------------------|:-----------------------|-----------------------:|----------------------:|-------:|---------------:|--------------:|---------------:|------------------:|-----------------:|------------:|-------------:|--------------------:|----------:|--------------:|---------------:|--------------:|--------------:|----------------------------:|:---------------------|-------------------------:|---------------:|-----------------:|-----------------------:|--------------:|----------:|----------------------:|----------:|---------------------:|---------------------:|------------:|------------------:|----------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|:---------------------|---------------------:|----------------------:|:--------------------------|------------:|:------------------|:----------------------|:-------------------------|:--------------------|:----------------------|:------------|:-----------------------|--------------:|
|  0 |                      nan |           nan |                     nan |                       |                        nan |                     nan |   14297519 |                     261 |            nan |           3.5 |            4 |                     nan |                 3.5 |          nan |                        nan |                           3100 |                   3100 |                        |                        |                    nan |                   nan |   6059 |            nan |             3 |              2 |               633 |              nan | 3.36349e+07 | -1.17869e+08 |                4506 |       nan |           nan |            nan |           nan |           nan |                         122 |                      |              6.05906e+07 |          53571 |             1286 |                    nan |         96978 |         0 |                     1 |       nan |                  nan |                  nan |        1998 |               nan |             nan |                       485713 |         1.02328e+06 |             2016 |                  537569 |    11013.7  |                      |                  nan |           6.05906e+13 | Single Family Residential |  0.0255949  | 2017-01-01        |                       |                          |                     |                       |             |                        |       1727539 |
|  1 |                      nan |           nan |                     nan |                       |                        nan |                     nan |   17052889 |                     261 |            nan |           1   |            2 |                     nan |                 1   |          nan |                       1465 |                           1465 |                   1465 |                        |                        |                   1465 |                   nan |   6111 |              1 |             1 |              1 |                 0 |              nan | 3.44493e+07 | -1.19282e+08 |               12647 |       nan |           nan |            nan |           nan |           nan |                        1110 |                      |              6.111e+07   |          13091 |             2061 |                    nan |         97099 |         5 |                   nan |       nan |                  nan |                  nan |        1967 |                 1 |             nan |                        88000 |    464000           |             2016 |                  376000 |     5672.48 |                      |                  nan |           6.111e+13   | Single Family Residential |  0.0556191  | 2017-01-01        |                       |                          |                     |                       |             |                        |       1387261 |
|  2 |                      nan |           nan |                     nan |                       |                        nan |                     nan |   14186244 |                     261 |            nan |           2   |            3 |                     nan |                 2   |          nan |                        nan |                           1243 |                   1243 |                        |                        |                    nan |                   nan |   6059 |            nan |             2 |              2 |               440 |              nan | 3.38862e+07 | -1.17823e+08 |                8432 |         1 |           nan |            nan |           nan |             1 |                         122 |                      |              6.05902e+07 |          21412 |             1286 |                    nan |         97078 |         6 |                   nan |       nan |                  nan |                  nan |        1962 |                 1 |             nan |                        85289 |    564778           |             2016 |                  479489 |     6488.3  |                      |                  nan |           6.05902e+13 | Single Family Residential |  0.00538285 | 2017-01-01        |                       |                          |                     |                       |             |                        |         11677 |
|  3 |                      nan |           nan |                       2 |                       |                        nan |                     nan |   12177905 |                     261 |            nan |           3   |            4 |                       8 |                 3   |          nan |                        nan |                           2376 |                   2376 |                        |                        |                    nan |                   nan |   6037 |            nan |             3 |            nan |               nan |              nan | 3.42452e+07 | -1.18241e+08 |               13038 |         1 |           nan |            nan |           nan |             1 |                        0101 | LCR110000*           |              6.0373e+07  |         396551 |             3101 |                    nan |         96330 |         0 |                   nan |         1 |                  nan |                  nan |        1970 |               nan |             nan |                       108918 |    145143           |             2016 |                   36225 |     1777.51 |                      |                  nan |           6.0373e+13  | Single Family Residential | -0.10341    | 2017-01-01        |                       |                          |                     | Central               |             |                        |       2288172 |
|  4 |                      nan |           nan |                       2 |                       |                        nan |                       1 |   12095076 |                     261 |            nan |           3   |            4 |                       9 |                 3   |          nan |                        nan |                           2962 |                   2962 |                        |                        |                    nan |                   nan |   6037 |            nan |             3 |            nan |               nan |              nan | 3.41452e+07 | -1.1818e+08  |               63000 |         1 |           nan |            nan |           nan |             1 |                        0101 | PSR2                 |              6.03746e+07 |          47019 |             3101 |                 274684 |         96293 |         0 |                   nan |         1 |                  nan |                  nan |        1950 |               nan |             nan |                       276684 |    773303           |             2016 |                  496619 |     9516.26 |                      |                  nan |           6.03746e+13 | Single Family Residential | -0.00101096 | 2017-01-01        | Central               |                          |                     | Central               |             |                        |        781532 |
-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52320 entries, 0 to 52440
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   heatingorsystemtypeid         33850 non-null  float64
 3   buildingclasstypeid           0 non-null      object
 4   architecturalstyletypeid      70 non-null     float64
 5   airconditioningtypeid         13615 non-null  float64
 6   parcelid                      52320 non-null  int64
 7   propertylandusetypeid         52320 non-null  float64
 8   basementsqft                  47 non-null     float64
 9   bathroomcnt                   52320 non-null  float64
 10  bedroomcnt                    52320 non-null  float64
 11  buildingqualitytypeid         33655 non-null  float64
 12  calculatedbathnbr             52185 non-null  float64
 13  decktypeid                    389 non-null    float64
 14  finishedfloor1squarefeet      4371 non-null   float64
 15  calculatedfinishedsquarefeet  52239 non-null  float64
 16  finishedsquarefeet12          52074 non-null  float64
 17  finishedsquarefeet13          0 non-null      object
 18  finishedsquarefeet15          0 non-null      object
 19  finishedsquarefeet50          4371 non-null   float64
 20  finishedsquarefeet6           165 non-null    float64
 21  fips                          52320 non-null  float64
 22  fireplacecnt                  7233 non-null   float64
 23  fullbathcnt                   52185 non-null  float64
 24  garagecarcnt                  17984 non-null  float64
 25  garagetotalsqft               17984 non-null  float64
 26  hashottuborspa                1514 non-null   float64
 27  latitude                      52320 non-null  float64
 28  longitude                     52320 non-null  float64
 29  lotsizesquarefeet             51954 non-null  float64
 30  poolcnt                       11077 non-null  float64
 31  poolsizesum                   865 non-null    float64
 32  pooltypeid10                  443 non-null    float64
 33  pooltypeid2                   1071 non-null   float64
 34  pooltypeid7                   9990 non-null   float64
 35  propertycountylandusecode     52320 non-null  object
 36  propertyzoningdesc            33762 non-null  object
 37  rawcensustractandblock        52320 non-null  float64
 38  regionidcity                  51284 non-null  float64
 39  regionidcounty                52320 non-null  float64
 40  regionidneighborhood          18981 non-null  float64
 41  regionidzip                   52294 non-null  float64
 42  roomcnt                       52320 non-null  float64
 43  threequarterbathnbr           6717 non-null   float64
 44  unitcnt                       33762 non-null  float64
 45  yardbuildingsqft17            1935 non-null   float64
 46  yardbuildingsqft26            63 non-null     float64
 47  yearbuilt                     52206 non-null  float64
 48  numberofstories               14532 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52238 non-null  float64
 51  taxvaluedollarcnt             52319 non-null  float64
 52  assessmentyear                52320 non-null  float64
 53  landtaxvaluedollarcnt         52319 non-null  float64
 54  taxamount                     52316 non-null  float64
 55  taxdelinquencyflag            2068 non-null   object
 56  taxdelinquencyyear            2068 non-null   float64
 57  censustractandblock           52199 non-null  float64
 58  propertylandusedesc           52320 non-null  object
 59  logerror                      52320 non-null  float64
 60  transactiondate               52320 non-null  object
 61  airconditioningdesc           13615 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      object
 64  heatingorsystemdesc           33850 non-null  object
 65  storydesc                     47 non-null     object
 66  typeconstructiondesc          76 non-null     object
 67  property_id                   52320 non-null  int64
dtypes: float64(52), int64(2), object(14)
memory usage: 27.5+ MB
None
---
DataFrame describe:

       typeconstructiontypeid  storytypeid  heatingorsystemtypeid  \
count               76.000000         47.0           33850.000000
mean                 5.973684          7.0               3.965613
std                  0.229416          0.0               2.562660
min                  4.000000          7.0               1.000000
25%                  6.000000          7.0               2.000000
50%                  6.000000          7.0               2.000000
75%                  6.000000          7.0               7.000000
max                  6.000000          7.0              24.000000

       architecturalstyletypeid  airconditioningtypeid      parcelid  \
count                  70.00000           13615.000000  5.232000e+04
mean                    7.10000               2.439589  1.299682e+07
std                     2.66567               3.847925  3.350919e+06
min                     2.00000               1.000000  1.071186e+07
25%                     7.00000               1.000000  1.151018e+07
50%                     7.00000               1.000000  1.257829e+07
75%                     7.00000               1.000000  1.413036e+07
max                    21.00000              13.000000  1.676878e+08

       propertylandusetypeid  basementsqft   bathroomcnt    bedroomcnt  ...  \
count                52320.0     47.000000  52320.000000  52320.000000  ...
mean                   261.0    678.978723      2.300010      3.300765  ...
std                      0.0    711.825226      1.022807      0.947555  ...
min                    261.0     38.000000      0.000000      0.000000  ...
25%                    261.0    263.500000      2.000000      3.000000  ...
50%                    261.0    512.000000      2.000000      3.000000  ...
75%                    261.0    809.500000      3.000000      4.000000  ...
max                    261.0   3560.000000     18.000000     14.000000  ...

       fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count           81.0                5.223800e+04       5.231900e+04
mean             1.0                1.966362e+05       5.298235e+05
std              0.0                2.542862e+05       7.518296e+05
min              1.0                1.290000e+02       1.000000e+03
25%              1.0                7.715900e+04       1.940330e+05
50%              1.0                1.319050e+05       3.740060e+05
75%              1.0                2.264532e+05       6.193540e+05
max              1.0                9.164901e+06       4.906124e+07

       assessmentyear  landtaxvaluedollarcnt      taxamount  \
count         52320.0           5.231900e+04   52316.000000
mean           2016.0           3.334917e+05    6454.743137
std               0.0           5.705106e+05    8752.477267
min            2016.0           1.610000e+02      49.180000
25%            2016.0           7.619400e+04    2660.982500
50%            2016.0           2.180790e+05    4650.565000
75%            2016.0           4.087770e+05    7379.270000
max            2016.0           4.895220e+07  586639.300000

       taxdelinquencyyear  censustractandblock      logerror   property_id
count         2068.000000         5.219900e+04  52320.000000  5.232000e+04
mean            14.101064         6.050245e+13      0.018131  1.496906e+06
std              2.400399         1.861127e+12      0.176905  8.594330e+05
min              4.000000         6.037101e+13     -4.655420  3.490000e+02
25%             14.000000         6.037401e+13     -0.024707  7.576135e+05
50%             15.000000         6.037620e+13      0.006934  1.500134e+06
75%             15.000000         6.059042e+13      0.040597  2.241333e+06
max             99.000000         4.830301e+14      5.262999  2.982270e+06

[8 rows x 54 columns]
---
DataFrame null value asssessment:

Nulls By Column:                           num_rows_missing  percent_rows_missing
typeconstructiontypeid               52244             99.854740
storytypeid                          52273             99.910168
heatingorsystemtypeid                18470             35.301988
buildingclasstypeid                  52320            100.000000
architecturalstyletypeid             52250             99.866208
...                                    ...                   ...
buildingclassdesc                    52320            100.000000
heatingorsystemdesc                  18470             35.301988
storydesc                            52273             99.910168
typeconstructiondesc                 52244             99.854740
property_id                              0              0.000000

[68 rows x 2 columns]
----
Nulls By Row:     num_cols_missing  percent_cols_missing  index
0                 23             33.823529      2
1                 24             35.294118     12
2                 25             36.764706     11
3                 26             38.235294     30
4                 27             39.705882    177
5                 28             41.176471    390
6                 29             42.647059   2527
7                 30             44.117647   2199
8                 31             45.588235   5989
9                 32             47.058824   8885
10                33             48.529412  11967
11                34             50.000000  11158
12                35             51.470588   3469
13                36             52.941176   4138
14                37             54.411765   1020
15                38             55.882353    223
16                39             57.352941     29
17                40             58.823529     15
18                41             60.294118      6
19                42             61.764706      7

### Takeaways 
*

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [12]:
cols_missing = nulls_by_col(df)

In [13]:
print(cols_missing)

                          num_rows_missing  percent_rows_missing
typeconstructiontypeid               52244             99.854740
storytypeid                          52273             99.910168
heatingorsystemtypeid                18470             35.301988
buildingclasstypeid                  52320            100.000000
architecturalstyletypeid             52250             99.866208
...                                    ...                   ...
buildingclassdesc                    52320            100.000000
heatingorsystemdesc                  18470             35.301988
storydesc                            52273             99.910168
typeconstructiondesc                 52244             99.854740
property_id                              0              0.000000

[68 rows x 2 columns]

### Takeaways 
* Can get rid of the id columns that were used for join. typeconstructionid, storytypeid, etc
* anything below 95% should be dropped
* actually after some research we are going to go with 64%
* want to investigate garagecarcnt, heatingorsystemdesc, airconditiontiontypeid, aircondtioningdesc

# Prepare

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

#### Takeaways 
* does not appear to be any of those properties in the dataframe
* pulled in only single family residential or inferred single family residential

### Create a function that will drop rows or columns based on the percent of values that are missing: 
`handle_missing_values(df, prop_required_column, prop_required_row)`

> The input:
* A dataframe
* A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column.   
   - i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
* A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row.   
   - For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
> The output:
* The dataframe with the columns and rows dropped as indicated. 
   - Be sure to drop the columns prior to the rows in your function.
   - hint: Look up the dropna documentation.
> You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [77]:
dfb = df.copy(deep=True)

In [85]:
def handle_missing_values(df, prop_required_columns=0.60, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)

    return df

In [86]:
df = handle_missing_values(df)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52242 entries, 0 to 52440
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         33850 non-null  float64
 1   parcelid                      52242 non-null  int64
 2   propertylandusetypeid         52242 non-null  float64
 3   bathroomcnt                   52242 non-null  float64
 4   bedroomcnt                    52242 non-null  float64
 5   buildingqualitytypeid         33654 non-null  float64
 6   calculatedbathnbr             52181 non-null  float64
 7   calculatedfinishedsquarefeet  52234 non-null  float64
 8   finishedsquarefeet12          52070 non-null  float64
 9   fips                          52242 non-null  float64
 10  fullbathcnt                   52181 non-null  float64
 11  latitude                      52242 non-null  float64
 12  longitude                     52242 non-null  float64
 13  lotsizesquarefeet             51885 non-null  float64
 14  propertycountylandusecode     52242 non-null  object
 15  propertyzoningdesc            33745 non-null  object
 16  rawcensustractandblock        52242 non-null  float64
 17  regionidcity                  51217 non-null  float64
 18  regionidcounty                52242 non-null  float64
 19  regionidzip                   52223 non-null  float64
 20  roomcnt                       52242 non-null  float64
 21  unitcnt                       33762 non-null  float64
 22  yearbuilt                     52201 non-null  float64
 23  structuretaxvaluedollarcnt    52170 non-null  float64
 24  taxvaluedollarcnt             52241 non-null  float64
 25  assessmentyear                52242 non-null  float64
 26  landtaxvaluedollarcnt         52241 non-null  float64
 27  taxamount                     52238 non-null  float64
 28  censustractandblock           52134 non-null  float64
 29  propertylandusedesc           52242 non-null  object
 30  logerror                      52242 non-null  float64
 31  transactiondate               52242 non-null  object
 32  heatingorsystemdesc           33850 non-null  object
 33  property_id                   52242 non-null  int64
dtypes: float64(27), int64(2), object(5)
memory usage: 14.0+ MB

Encapsulate your work inside of functions in a wrangle_zillow.py module.