In [3]:
#basic imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import env
from os.path import exists

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Acquire and Summarize

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.  
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method)   
- Only include properties that have a latitude and longitude value.

In [7]:

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_zillow_data():
    '''
    Reads in all fields from the customers table in the mall_customers schema from data.codeup.com
    
    parameters: None
    
    returns: a single Pandas DataFrame with the index set to the primary customer_id field
    '''

    sql = """
    SELECT 
        prop.*,
        predictions_2017.logerror as logerror,
        aircon.airconditioningdesc as aircon,
        arch.architecturalstyledesc as architecture,
        buildclass.buildingclassdesc as building_class, 
        heating.heatingorsystemdesc as heating,
        landuse.propertylandusedesc as landuse, 
        story.storydesc as story,
        construct_type.typeconstructiondesc as construct_type
    FROM properties_2017 prop
    JOIN (
        SELECT parcelid, MAX(transactiondate) AS max_transactiondate
        FROM predictions_2017
        GROUP BY parcelid
        ) pred USING (parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                        AND pred.max_transactiondate = predictions_2017.transactiondate
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN airconditioningtype aircon USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype buildclass USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heating USING (heatingorsystemtypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype construct_type USING (typeconstructiontypeid)
    WHERE propertylandusedesc IN ("Single Family Residential", "Inferred Single Family Residential") 
        AND transactiondate like '%%2017%%';
    """

    if exists('zillow_data.csv'):
        df = pd.read_csv('zillow_data.csv')
    else:
        df = pd.read_sql(sql, get_connection('zillow'))
    return df

In [8]:
df = get_zillow_data()

In [9]:
df.fips.value_counts()

6037.0    33823
6059.0    14111
6111.0     4385
Name: fips, dtype: int64

In [14]:
df[df.fips == 6059.0].isnull().mean()

id                          0.000000
parcelid                    0.000000
airconditioningtypeid       0.855786
architecturalstyletypeid    0.995039
basementsqft                1.000000
                              ...
building_class              1.000000
heating                     0.959039
landuse                     0.000000
story                       1.000000
construct_type              0.994614
Length: 66, dtype: float64

In [4]:
#two brackets to return a dataframe of two columns
# print(df[df.duplicated(subset= 'property_id', keep=False)][['property_id','transactiondate']].sort_values(by=['property_id', 'transactiondate']))
# df[df.duplicated(subset= 'property_id', keep='last')][['property_id','transactiondate']].sort_values(by=['property_id', 'transactiondate'])

In [5]:
df.info() # --> no nulls in lat/longitude value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 66 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52319 non-null  float64
 6   bedroomcnt                    52319 non-null  float64
 7   buildingclasstypeid           0 non-null      object
 8   buildingqualitytypeid         33654 non-null  float64
 9   calculatedbathnbr             52184 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52238 non-null  float64
 13  finishedsquarefeet12          52073 non-null  float64
 14  finishedsquarefeet13          0 non-null      object
 15  finishedsquarefeet15          0 non-null      object
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52319 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52184 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33849 non-null  float64
 25  latitude                      52319 non-null  float64
 26  longitude                     52319 non-null  float64
 27  lotsizesquarefeet             51953 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52319 non-null  object
 34  propertylandusetypeid         52319 non-null  float64
 35  propertyzoningdesc            33761 non-null  object
 36  rawcensustractandblock        52319 non-null  float64
 37  regionidcity                  51283 non-null  float64
 38  regionidcounty                52319 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52293 non-null  float64
 41  roomcnt                       52319 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  aircon                        13615 non-null  object
 60  architecture                  70 non-null     object
 61  building_class                0 non-null      object
 62  heating                       33849 non-null  object
 63  landuse                       52319 non-null  object
 64  story                         47 non-null     object
 65  construct_type                76 non-null     object
dtypes: float64(51), int64(2), object(13)
memory usage: 26.3+ MB

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [6]:
# examine row by row basics:

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prnt_miss})
    rows_missing = rows_missing.reset_index().groupby(['num_cols_missing', 'percent_cols_missing']).count().reset_index()

    return rows_missing

In [7]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    percnt_miss = num_missing / df.shape[0] * 100
    cols_missing = pd.DataFrame(
        {
            'num_rows_missing': num_missing,
            'percent_rows_missing': percnt_miss
        }
    )
    return cols_missing

In [8]:
def summarize(df):
    print('-----')
    print('DataFrame info:\n')
    print (df.info())
    print('---')
    print('DataFrame describe:\n')
    print (df.describe())
    print('---')
    print('DataFrame null value asssessment:\n')
    print('Nulls By Column:', nulls_by_col(df))
    print('----')
    print('Nulls By Row:', nulls_by_row(df))
    numerical_cols = df.select_dtypes(exclude='object').columns.to_list()
    categorical_cols = df.select_dtypes(include='object').columns.to_list()
    print('value_counts: \n')
    for col in df.columns:
        print(f'Column Names: {col}')
        if col in categorical_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False, dropna=False))
            print('---')
    print('Report Finished')
    return

In [9]:
summarize(df)

-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 66 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52319 non-null  float64
 6   bedroomcnt                    52319 non-null  float64
 7   buildingclasstypeid           0 non-null      object
 8   buildingqualitytypeid         33654 non-null  float64
 9   calculatedbathnbr             52184 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52238 non-null  float64
 13  finishedsquarefeet12          52073 non-null  float64
 14  finishedsquarefeet13          0 non-null      object
 15  finishedsquarefeet15          0 non-null      object
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52319 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52184 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33849 non-null  float64
 25  latitude                      52319 non-null  float64
 26  longitude                     52319 non-null  float64
 27  lotsizesquarefeet             51953 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52319 non-null  object
 34  propertylandusetypeid         52319 non-null  float64
 35  propertyzoningdesc            33761 non-null  object
 36  rawcensustractandblock        52319 non-null  float64
 37  regionidcity                  51283 non-null  float64
 38  regionidcounty                52319 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52293 non-null  float64
 41  roomcnt                       52319 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  aircon                        13615 non-null  object
 60  architecture                  70 non-null     object
 61  building_class                0 non-null      object
 62  heating                       33849 non-null  object
 63  landuse                       52319 non-null  object
 64  story                         47 non-null     object
 65  construct_type                76 non-null     object
dtypes: float64(51), int64(2), object(13)
memory usage: 26.3+ MB
None
---
DataFrame describe:

                 id      parcelid  airconditioningtypeid  \
count  5.231900e+04  5.231900e+04           13615.000000
mean   1.496888e+06  1.299682e+07               2.439589
std    8.594310e+05  3.350951e+06               3.847925
min    3.490000e+02  1.071186e+07               1.000000
25%    7.575810e+05  1.151017e+07               1.000000
50%    1.500095e+06  1.257825e+07               1.000000
75%    2.241248e+06  1.413036e+07               1.000000
max    2.982270e+06  1.676878e+08              13.000000

       architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                  70.00000     47.000000  52319.000000  52319.000000
mean                    7.10000    678.978723      2.300015      3.300770
std                     2.66567    711.825226      1.022816      0.947563
min                     2.00000     38.000000      0.000000      0.000000
25%                     7.00000    263.500000      2.000000      3.000000
50%                     7.00000    512.000000      2.000000      3.000000
75%                     7.00000    809.500000      3.000000      4.000000
max                    21.00000   3560.000000     18.000000     14.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
count           33654.000000       52184.000000       389.0  ...
mean                6.264961           2.305276        66.0  ...
std                 1.716328           1.018076         0.0  ...
min                 1.000000           1.000000        66.0  ...
25%                 5.000000           2.000000        66.0  ...
50%                 6.000000           2.000000        66.0  ...
75%                 8.000000           3.000000        66.0  ...
max                12.000000          18.000000        66.0  ...

          yearbuilt  numberofstories  fireplaceflag  \
count  52205.000000     14532.000000           81.0
mean    1963.421320         1.414189            1.0
std       23.125887         0.540685            0.0
min     1878.000000         1.000000            1.0
25%     1950.000000         1.000000            1.0
50%     1961.000000         1.000000            1.0
75%     1979.000000         2.000000            1.0
max     2016.000000         6.000000            1.0

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                5.223700e+04       5.231800e+04         52319.0
mean                 1.966385e+05       5.298287e+05          2016.0
std                  2.542880e+05       7.518358e+05             0.0
min                  1.290000e+02       1.000000e+03          2016.0
25%                  7.715900e+04       1.940205e+05          2016.0
50%                  1.319100e+05       3.740080e+05          2016.0
75%                  2.264550e+05       6.193580e+05          2016.0
max                  9.164901e+06       4.906124e+07          2016.0

       landtaxvaluedollarcnt      taxamount  taxdelinquencyyear  \
count           5.231800e+04   52315.000000         2068.000000
mean            3.334946e+05    6454.802564           14.101064
std             5.705157e+05    8752.550365            2.400399
min             1.610000e+02      49.180000            4.000000
25%             7.619400e+04    2660.965000           14.000000
50%             2.180790e+05    4650.620000           15.000000
75%             4.087795e+05    7379.320000           15.000000
max             4.895220e+07  586639.300000           99.000000

       censustractandblock
count         5.219800e+04
mean          6.050245e+13
std           1.861145e+12
min           6.037101e+13
25%           6.037401e+13
50%           6.037620e+13
75%           6.059042e+13
max           4.830301e+14

[8 rows x 53 columns]
---
DataFrame null value asssessment:

Nulls By Column:                           num_rows_missing  percent_rows_missing
id                                       0              0.000000
parcelid                                 0              0.000000
airconditioningtypeid                38704             73.976949
architecturalstyletypeid             52249             99.866205
basementsqft                         52272             99.910166
...                                    ...                   ...
building_class                       52319            100.000000
heating                              18470             35.302663
landuse                                  0              0.000000
story                                52272             99.910166
construct_type                       52243             99.854737

[66 rows x 2 columns]
----
Nulls By Row:     num_cols_missing  percent_cols_missing  index
0                 23             34.848485      2
1                 24             36.363636     12
2                 25             37.878788     11
3                 26             39.393939     30
4                 27             40.909091    177
5                 28             42.424242    390
6                 29             43.939394   2527
7                 30             45.454545   2199
8                 31             46.969697   5989
9                 32             48.484848   8885
10                33             50.000000  11967
11                34             51.515152  11157
12                35             53.030303   3469
13                36             54.545455   4138
14                37             56.060606   1020
15                38             57.575758    223
16                39             59.090909     29
17                40             60.606061     15
18                41             62.121212      6
19                42             63.636364      7
20                43             65.151515     10
21                44             66.666667     46
22                45             68.181818      6
23                46             69.696970      1
24                47             71.212121      1
25                48             72.727273      2
value_counts:

Column Names: id
(-2632.922, 298541.1]     5167
(298541.1, 596733.2]      5137
(596733.2, 894925.3]      5139
(894925.3, 1193117.4]     5249
(1193117.4, 1491309.5]    5316
(1491309.5, 1789501.6]    5346
(1789501.6, 2087693.7]    5244
(2087693.7, 2385885.8]    5181
(2385885.8, 2684077.9]    5239
(2684077.9, 2982270.0]    5301
Name: id, dtype: int64
---
Column Names: parcelid
(10554879.015, 26409453.4]    52300
(26409453.4, 42107051.8]          0
(42107051.8, 57804650.2]          0
(57804650.2, 73502248.6]          0
(73502248.6, 89199847.0]          1
(89199847.0, 104897445.4]         0
(104897445.4, 120595043.8]        0
(120595043.8, 136292642.2]        0
(136292642.2, 151990240.6]        0
(151990240.6, 167687839.0]       18
Name: parcelid, dtype: int64
---
Column Names: airconditioningtypeid
(0.987, 2.2]    11873
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        159
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]          0
(9.4, 10.6]         0
(10.6, 11.8]       16
(11.8, 13.0]     1567
Name: airconditioningtypeid, dtype: int64
---
Column Names: architecturalstyletypeid
(1.9800000000000002, 3.9]     5
(3.9, 5.8]                    0
(5.8, 7.7]                   62
(7.7, 9.6]                    1
(9.6, 11.5]                   0
(11.5, 13.4]                  0
(13.4, 15.3]                  0
(15.3, 17.2]                  0
(17.2, 19.1]                  0
(19.1, 21.0]                  2
Name: architecturalstyletypeid, dtype: int64
---
Column Names: basementsqft
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 13
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
---
Column Names: bathroomcnt
(-0.019, 1.8]    10494
(1.8, 3.6]       37337
(3.6, 5.4]        3714
(5.4, 7.2]         679
(7.2, 9.0]          85
(9.0, 10.8]          5
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
---
Column Names: bedroomcnt
(-0.015, 1.4]      746
(1.4, 2.8]        8317
(2.8, 4.2]       38512
(4.2, 5.6]        3967
(5.6, 7.0]         740
(7.0, 8.4]          24
(8.4, 9.8]           8
(9.8, 11.2]          3
(11.2, 12.6]         1
(12.6, 14.0]         1
Name: bedroomcnt, dtype: int64
---
Column Names: buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)
Column Names: buildingqualitytypeid
(0.988, 2.1]       13
(2.1, 3.2]        149
(3.2, 4.3]       8135
(4.3, 5.4]       1507
(5.4, 6.5]      10260
(6.5, 7.6]       3424
(7.6, 8.7]       8222
(8.7, 9.8]       1119
(9.8, 10.9]       230
(10.9, 12.0]      595
Name: buildingqualitytypeid, dtype: int64
---
Column Names: calculatedbathnbr
(0.982, 2.7]    36131
(2.7, 4.4]      13791
(4.4, 6.1]       2032
(6.1, 7.8]        151
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
---
Column Names: decktypeid
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 389
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
---
Column Names: finishedfloor1squarefeet
(177.271, 856.8]     311
(856.8, 1529.6]     2308
(1529.6, 2202.4]    1265
(2202.4, 2875.2]     276
(2875.2, 3548.0]     123
(3548.0, 4220.8]      43
(4220.8, 4893.6]      24
(4893.6, 5566.4]      12
(5566.4, 6239.2]       5
(6239.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
---
Column Names: calculatedfinishedsquarefeet
(106.198, 2308.1]     39200
(2308.1, 4488.2]      11815
(4488.2, 6668.3]       1004
(6668.3, 8848.4]        158
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64
---
Column Names: finishedsquarefeet12
(106.198, 2308.1]     39051
(2308.1, 4488.2]      11800
(4488.2, 6668.3]       1003
(6668.3, 8848.4]        158
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
---
Column Names: finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)
Column Names: finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)
Column Names: finishedsquarefeet50
(171.716, 1412.3]     2177
(1412.3, 2640.6]      1903
(2640.6, 3868.9]       210
(3868.9, 5097.2]        57
(5097.2, 6325.5]        13
(6325.5, 7553.8]         7
(7553.8, 8782.1]         2
(8782.1, 10010.4]        1
(10010.4, 11238.7]       0
(11238.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
---
Column Names: finishedsquarefeet6
(374.781, 901.8]    57
(901.8, 1423.6]     72
(1423.6, 1945.4]    16
(1945.4, 2467.2]     8
(2467.2, 2989.0]     4
(2989.0, 3510.8]     3
(3510.8, 4032.6]     2
(4032.6, 4554.4]     2
(4554.4, 5076.2]     0
(5076.2, 5598.0]     1
Name: finishedsquarefeet6, dtype: int64
---
Column Names: fips
(6036.925, 6044.4]    33823
(6044.4, 6051.8]          0
(6051.8, 6059.2]      14111
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       4385
Name: fips, dtype: int64
---
Column Names: fireplacecnt
(0.995, 1.4]    6024
(1.4, 1.8]         0
(1.8, 2.2]       942
(2.2, 2.6]         0
(2.6, 3.0]       229
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
---
Column Names: fullbathcnt
(0.982, 2.7]    36143
(2.7, 4.4]      14487
(4.4, 6.1]       1379
(6.1, 7.8]         96
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
---
Column Names: garagecarcnt
(-0.015, 1.4]     2262
(1.4, 2.8]       14777
(2.8, 4.2]         874
(4.2, 5.6]          45
(5.6, 7.0]          16
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
---
Column Names: garagetotalsqft
(-4.252000000000001, 425.1]     4447
(425.1, 850.2]                 13160
(850.2, 1275.3]                  323
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
---
Column Names: hashottuborspa
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1514
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
---
Column Names: heatingorsystemtypeid
(0.976, 3.3]    20696
(3.3, 5.6]          0
(5.6, 7.9]      13043
(7.9, 10.2]         2
(10.2, 12.5]        0
(12.5, 14.8]       16
(14.8, 17.1]        0
(17.1, 19.4]        6
(19.4, 21.7]       85
(21.7, 24.0]        1
Name: heatingorsystemtypeid, dtype: int64
---
Column Names: latitude
(33339141.852, 33488434.7]      758
(33488434.7, 33636249.4]       3223
(33636249.4, 33784064.1]       6071
(33784064.1, 33931878.8]      10933
(33931878.8, 34079693.5]       9031
(34079693.5, 34227508.2]      12438
(34227508.2, 34375322.9]       4610
(34375322.9, 34523137.6]       1823
(34523137.6, 34670952.3]       2185
(34670952.3, 34818767.0]       1247
Name: latitude, dtype: int64
---
Column Names: longitude
(-119477336.781, -119283338.0]      161
(-119283338.0, -119091260.0]       1299
(-119091260.0, -118899182.0]       1063
(-118899182.0, -118707104.0]       1781
(-118707104.0, -118515026.0]       3844
(-118515026.0, -118322948.0]       9321
(-118322948.0, -118130870.0]      10022
(-118130870.0, -117938792.0]      11211
(-117938792.0, -117746714.0]       9145
(-117746714.0, -117554636.0]       4472
Name: longitude, dtype: int64
---
Column Names: lotsizesquarefeet
(-6734.775000000001, 697313.4]    51933
(697313.4, 1394390.8]                 9
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
---
Column Names: poolcnt
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       11077
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64
---
Column Names: poolsizesum
(22.523, 171.6]       7
(171.6, 319.2]       46
(319.2, 466.8]      321
(466.8, 614.4]      306
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64
---
Column Names: pooltypeid10
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       443

### Takeaways 
*

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [10]:
cols_missing = nulls_by_col(df)

In [11]:
print(cols_missing)

                          num_rows_missing  percent_rows_missing
id                                       0              0.000000
parcelid                                 0              0.000000
airconditioningtypeid                38704             73.976949
architecturalstyletypeid             52249             99.866205
basementsqft                         52272             99.910166
...                                    ...                   ...
building_class                       52319            100.000000
heating                              18470             35.302663
landuse                                  0              0.000000
story                                52272             99.910166
construct_type                       52243             99.854737

[66 rows x 2 columns]

### Takeaways 
* Can get rid of the id columns that were used for join. typeconstructionid, storytypeid, etc
* anything below 95% should be dropped
* actually after some research we are going to go with 64%
* want to investigate garagecarcnt, heatingorsystemdesc, airconditiontiontypeid, aircondtioningdesc

# Prepare

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

#### Takeaways 
* does not appear to be any of those properties in the dataframe
* pulled in only single family residential or inferred single family residential

### Create a function that will drop rows or columns based on the percent of values that are missing: 
`handle_missing_values(df, prop_required_column, prop_required_row)`

> The input:
* A dataframe
* A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column.   
   - i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
* A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row.   
   - For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
> The output:
* The dataframe with the columns and rows dropped as indicated. 
   - Be sure to drop the columns prior to the rows in your function.
   - hint: Look up the dropna documentation.
> You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [12]:
def handle_missing_values(df, prop_required_columns=0.60, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)

    return df

In [13]:
df = handle_missing_values(df)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52241 entries, 0 to 52318
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52241 non-null  int64
 1   parcelid                      52241 non-null  int64
 2   bathroomcnt                   52241 non-null  float64
 3   bedroomcnt                    52241 non-null  float64
 4   buildingqualitytypeid         33653 non-null  float64
 5   calculatedbathnbr             52180 non-null  float64
 6   calculatedfinishedsquarefeet  52233 non-null  float64
 7   finishedsquarefeet12          52069 non-null  float64
 8   fips                          52241 non-null  float64
 9   fullbathcnt                   52180 non-null  float64
 10  heatingorsystemtypeid         33849 non-null  float64
 11  latitude                      52241 non-null  float64
 12  longitude                     52241 non-null  float64
 13  lotsizesquarefeet             51884 non-null  float64
 14  propertycountylandusecode     52241 non-null  object
 15  propertylandusetypeid         52241 non-null  float64
 16  propertyzoningdesc            33744 non-null  object
 17  rawcensustractandblock        52241 non-null  float64
 18  regionidcity                  51216 non-null  float64
 19  regionidcounty                52241 non-null  float64
 20  regionidzip                   52222 non-null  float64
 21  roomcnt                       52241 non-null  float64
 22  unitcnt                       33761 non-null  float64
 23  yearbuilt                     52200 non-null  float64
 24  structuretaxvaluedollarcnt    52169 non-null  float64
 25  taxvaluedollarcnt             52240 non-null  float64
 26  assessmentyear                52241 non-null  float64
 27  landtaxvaluedollarcnt         52240 non-null  float64
 28  taxamount                     52237 non-null  float64
 29  censustractandblock           52133 non-null  float64
 30  heating                       33849 non-null  object
 31  landuse                       52241 non-null  object
dtypes: float64(26), int64(2), object(4)
memory usage: 13.2+ MB

Encapsulate your work inside of functions in a wrangle_zillow.py module.

In [15]:

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_zillow_data():
    '''
    Reads in all fields from the customers table in the mall_customers schema from data.codeup.com
    
    parameters: None
    
    returns: a single Pandas DataFrame with the index set to the primary customer_id field
    '''

    sql = """
    SELECT 
        prop.*,
        aircon.airconditioningdesc as aircon,
        arch.architecturalstyledesc as architecture,
        buildclass.buildingclassdesc as building_class, 
        heating.heatingorsystemdesc as heating,
        landuse.propertylandusedesc as landuse, 
        story.storydesc as story,
        construct_type.typeconstructiondesc as construct_type
    FROM properties_2017 prop
    JOIN (
        SELECT parcelid, MAX(transactiondate) AS max_transactiondate
        FROM predictions_2017
        GROUP BY parcelid
        ) pred USING (parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                        AND pred.max_transactiondate = predictions_2017.transactiondate
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN airconditioningtype aircon USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype buildclass USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heating USING (heatingorsystemtypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype construct_type USING (typeconstructiontypeid)
    WHERE propertylandusedesc IN ("Single Family Residential", "Inferred Single Family Residential") 
        AND transactiondate like '%%2017%%';
    """

    if exists('zillow_data.csv'):
        df = pd.read_csv('zillow_data.csv')
    else:
        df = pd.read_sql(sql, get_connection('zillow'))
    return df

In [16]:
# examine row by row basics:

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prnt_miss})
    rows_missing = rows_missing.reset_index().groupby(['num_cols_missing', 'percent_cols_missing']).count().reset_index()

    return rows_missing

In [17]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    percnt_miss = num_missing / df.shape[0] * 100
    cols_missing = pd.DataFrame(
        {
            'num_rows_missing': num_missing,
            'percent_rows_missing': percnt_miss
        }
    )
    return cols_missing

In [18]:
def summarize(df):
    print('-----')
    print('DataFrame info:\n')
    print (df.info())
    print('---')
    print('DataFrame describe:\n')
    print (df.describe())
    print('---')
    print('DataFrame null value asssessment:\n')
    print('Nulls By Column:', nulls_by_col(df))
    print('----')
    print('Nulls By Row:', nulls_by_row(df))
    numerical_cols = df.select_dtypes(exclude='object').columns.to_list()
    categorical_cols = df.select_dtypes(include='object').columns.to_list()
    print('value_counts: \n')
    for col in df.columns:
        print(f'Column Names: {col}')
        if col in categorical_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False, dropna=False))
            print('---')
    print('Report Finished')
    return

In [19]:
def handle_missing_values(df, prop_required_columns=0.60, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)

    return df

In [20]:
def split_data(df):
    train_validate, test = train_test_split(df, test_size= .2, random_state=514)
    train, validate = train_test_split(train_validate, test_size= .3, random_state=514)
    print(train.shape, validate.shape, test.shape)
    return train, validate, test

In [1]:
def scale_split_data (train, validate, test):
    scaler = MinMaxScaler()

    scaler.fit(train)

    train_scaled = scaler(train)
    validate_scaled = scaler(validate)
    test_scaled = scaler(test)

    return train_scaled, validate_scaled, test_scaled

In [34]:
def prep_zillow (df):
    """ 
    Purpose
        Perform preparation functions on the zillow dataset
    Parameters
        df: data acquired from zillow dataset
    Output
        df: the unsplit and unscaled data with removed columns
        X_train:
        X_train_scaled:
        X_validate:
        X_validate_scaled:
        X_test:
        X_test_scaled:
    """

    #remove unwanted columns, and reset index to id --> for the exercises
    df = df.drop(columns=['parcelid', 'buildingqualitytypeid', 'heatingorsystemtypeid', 'propertylandusetypeid'])
    df.set_index('id')

    #fix data types
    df[['censustractandblock', 'yearbuilt']] = df[['censustractandblock', 'yearbuilt']].astype('str')

    #drop na/duplicates --> adjust this for project. think of columns to impute
    df = df.dropna()

    # take care of any duplicates:
    df = df.drop_duplicates()
    
    #split the data
    train, validate, test = split_data(df)

    #scale the data
    train_scaled, validate_scaled, test_scaled = scale_split_data(train, validate, test)

    return df, train, validate, test, train_scaled, validate_scaled, test_scaled

In [32]:
def wrangle_zillow():
    """ 
    Purpose
        Perform acuire and preparation functions on the zillow dataset
    Parameters
        None
    Output
        df: the unsplit and unscaled data
        X_train:
        X_train_scaled:
        X_validate:
        X_validate_scaled:
        X_test:
        X_test_scaled:
    """
    #initial data acquisition
    df = get_zillow_data()

    # handle the missing data --> decisions made in advance
    df = handle_missing_values(df, prop_required_columns=0.64)
    
    #drop columns that are unneeded, split data
    df, train, validate, test, train_scaled, validate_scaled, test_scaled = prep_zillow(df)

    #summarize the data
    summarize(df)

    return df, train, validate, test, train_scaled, validate_scaled, test_scaled

In [35]:
df, train, validate, test, train_scaled, validate_scaled, test_scaled = wrangle_zillow()

(18011, 28) (7720, 28) (6433, 28)
-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32164 entries, 3 to 52318
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            32164 non-null  int64
 1   bathroomcnt                   32164 non-null  float64
 2   bedroomcnt                    32164 non-null  float64
 3   calculatedbathnbr             32164 non-null  float64
 4   calculatedfinishedsquarefeet  32164 non-null  float64
 5   finishedsquarefeet12          32164 non-null  float64
 6   fips                          32164 non-null  float64
 7   fullbathcnt                   32164 non-null  float64
 8   latitude                      32164 non-null  float64
 9   longitude                     32164 non-null  float64
 10  lotsizesquarefeet             32164 non-null  float64
 11  propertycountylandusecode     32164 non-null  object
 12  propertyzoningdesc            32164 non-null  object
 13  rawcensustractandblock        32164 non-null  float64
 14  regionidcity                  32164 non-null  float64
 15  regionidcounty                32164 non-null  float64
 16  regionidzip                   32164 non-null  float64
 17  roomcnt                       32164 non-null  float64
 18  unitcnt                       32164 non-null  float64
 19  yearbuilt                     32164 non-null  object
 20  structuretaxvaluedollarcnt    32164 non-null  float64
 21  taxvaluedollarcnt             32164 non-null  float64
 22  assessmentyear                32164 non-null  float64
 23  landtaxvaluedollarcnt         32164 non-null  float64
 24  taxamount                     32164 non-null  float64
 25  censustractandblock           32164 non-null  object
 26  heating                       32164 non-null  object
 27  landuse                       32164 non-null  object
dtypes: float64(21), int64(1), object(6)
memory usage: 7.1+ MB
None
---
DataFrame describe:

                 id   bathroomcnt    bedroomcnt  calculatedbathnbr  \
count  3.216400e+04  32164.000000  32164.000000       32164.000000
mean   1.502004e+06      2.183279      3.200970           2.183279
std    8.592829e+05      1.034200      0.929317           1.034200
min    1.433000e+03      1.000000      0.000000           1.000000
25%    7.673188e+05      2.000000      3.000000           2.000000
50%    1.505556e+06      2.000000      3.000000           2.000000
75%    2.246655e+06      3.000000      4.000000           3.000000
max    2.982167e+06     13.000000     11.000000          13.000000

       calculatedfinishedsquarefeet  finishedsquarefeet12     fips  \
count                  32164.000000          32164.000000  32164.0
mean                    1803.430606           1803.430606   6037.0
std                      971.423505            971.423505      0.0
min                      152.000000            152.000000   6037.0
25%                     1204.000000           1204.000000   6037.0
50%                     1554.000000           1554.000000   6037.0
75%                     2115.000000           2115.000000   6037.0
max                    21929.000000          21929.000000   6037.0

        fullbathcnt      latitude     longitude  ...   regionidcity  \
count  32164.000000  3.216400e+04  3.216400e+04  ...   32164.000000
mean       2.183279  3.411736e+07 -1.182391e+08  ...   35746.279008
std        1.034200  2.306426e+05  2.170224e+05  ...   60536.154188
min        1.000000  3.334085e+07 -1.188951e+08  ...    3491.000000
25%        2.000000  3.395518e+07 -1.184014e+08  ...   12447.000000
50%        2.000000  3.409167e+07 -1.182406e+08  ...   14542.000000
75%        3.000000  3.420185e+07 -1.180955e+08  ...   45457.000000
max       13.000000  3.481877e+07 -1.176539e+08  ...  396556.000000

       regionidcounty    regionidzip  roomcnt       unitcnt  \
count         32164.0   32164.000000  32164.0  32164.000000
mean           3101.0   96477.963313      0.0      1.000373
std               0.0    5619.824731      0.0      0.019312
min            3101.0   95982.000000      0.0      1.000000
25%            3101.0   96124.000000      0.0      1.000000
50%            3101.0   96293.000000      0.0      1.000000
75%            3101.0   96452.000000      0.0      1.000000
max            3101.0  399675.000000      0.0      2.000000

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                3.216400e+04       3.216400e+04         32164.0
mean                 1.828426e+05       4.947617e+05          2016.0
std                  2.678569e+05       7.837854e+05             0.0
min                  1.810000e+02       3.254000e+03          2016.0
25%                  7.340200e+04       1.635560e+05          2016.0
50%                  1.222725e+05       3.199895e+05          2016.0
75%                  2.002170e+05       5.451245e+05          2016.0
max                  9.164901e+06       2.538125e+07          2016.0

       landtaxvaluedollarcnt      taxamount
count           3.216400e+04   32164.000000
mean            3.119191e+05    6219.265188
std             5.713010e+05    9201.974325
min             1.610000e+02     120.840000
25%             5.540075e+04    2399.020000
50%             1.820600e+05    4242.860000
75%             3.638662e+05    6792.595000
max             2.233550e+07  290998.060000

[8 rows x 22 columns]
---
DataFrame null value asssessment:

Nulls By Column:                               num_rows_missing  percent_rows_missing
id                                           0                   0.0
bathroomcnt                                  0                   0.0
bedroomcnt                                   0                   0.0
calculatedbathnbr                            0                   0.0
calculatedfinishedsquarefeet                 0                   0.0
finishedsquarefeet12                         0                   0.0
fips                                         0                   0.0
fullbathcnt                                  0                   0.0
latitude                                     0                   0.0
longitude                                    0                   0.0
lotsizesquarefeet                            0                   0.0
propertycountylandusecode                    0                   0.0
propertyzoningdesc                           0                   0.0
rawcensustractandblock                       0                   0.0
regionidcity                                 0                   0.0
regionidcounty                               0                   0.0
regionidzip                                  0                   0.0
roomcnt                                      0                   0.0
unitcnt                                      0                   0.0
yearbuilt                                    0                   0.0
structuretaxvaluedollarcnt                   0                   0.0
taxvaluedollarcnt                            0                   0.0
assessmentyear                               0                   0.0
landtaxvaluedollarcnt                        0                   0.0
taxamount                                    0                   0.0
censustractandblock                          0                   0.0
heating                                      0                   0.0
landuse                                      0                   0.0
----
Nulls By Row:    num_cols_missing  percent_cols_missing  index
0                 0                   0.0  32164
value_counts:

Column Names: id
(-1547.735, 299506.4]     3109
(299506.4, 597579.8]      3139
(597579.8, 895653.2]      3124
(895653.2, 1193726.6]     3233
(1193726.6, 1491800.0]    3317
(1491800.0, 1789873.4]    3289
(1789873.4, 2087946.8]    3179
(2087946.8, 2386020.2]    3203
(2386020.2, 2684093.6]    3284
(2684093.6, 2982167.0]    3287
Name: id, dtype: int64
---
Column Names: bathroomcnt
(0.987, 2.2]    22716
(2.2, 3.4]       6838
(3.4, 4.6]       1579
(4.6, 5.8]        648
(5.8, 7.0]        314
(7.0, 8.2]         48
(8.2, 9.4]         12
(9.4, 10.6]         5
(10.6, 11.8]        3
(11.8, 13.0]        1
Name: bathroomcnt, dtype: int64
---
Column Names: bedroomcnt
(-0.012, 1.1]      409
(1.1, 2.2]        6180
(2.2, 3.3]       15165
(3.3, 4.4]        7956
(4.4, 5.5]        1987
(5.5, 6.6]         372
(6.6, 7.7]          64
(7.7, 8.8]          21
(8.8, 9.9]           7
(9.9, 11.0]          3
Name: bedroomcnt, dtype: int64
---
Column Names: calculatedbathnbr
(0.987, 2.2]    22716
(2.2, 3.4]       6838
(3.4, 4.6]       1579
(4.6, 5.8]        648
(5.8, 7.0]        314
(7.0, 8.2]         48
(8.2, 9.4]         12
(9.4, 10.6]         5
(10.6, 11.8]        3
(11.8, 13.0]        1
Name: calculatedbathnbr, dtype: int64
---
Column Names: calculatedfinishedsquarefeet
(130.222, 2329.7]     25891
(2329.7, 4507.4]       5670
(4507.4, 6685.1]        473
(6685.1, 8862.8]         84
(8862.8, 11040.5]        30
(11040.5, 13218.2]       11
(13218.2, 15395.9]        1
(15395.9, 17573.6]        2
(17573.6, 19751.3]        0
(19751.3, 21929.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64
---
Column Names: finishedsquarefeet12
(130.222, 2329.7]     25891
(2329.7, 4507.4]       5670
(4507.4, 6685.1]        473
(6685.1, 8862.8]         84
(8862.8, 11040.5]        30
(11040.5, 13218.2]       11
(13218.2, 15395.9]        1
(15395.9, 17573.6]        2
(17573.6, 19751.3]        0
(19751.3, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
---
Column Names: fips
(6030.9619999999995, 6032.17]        0
(6032.17, 6033.378]                  0
(6033.378, 6034.585]                 0
(6034.585, 6035.793]                 0
(6035.793, 6037.0]               32164
(6037.0, 6038.207]                   0
(6038.207, 6039.415]                 0
(6039.415, 6040.622]                 0
(6040.622, 6041.83]                  0
(6041.83, 6043.037]                  0
Name: fips, dtype: int64
---
Column Names: fullbathcnt
(0.987, 2.2]    22716
(2.2, 3.4]       6838
(3.4, 4.6]       1579
(4.6, 5.8]        648
(5.8, 7.0]        314
(7.0, 8.2]         48
(8.2, 9.4]         12
(9.4, 10.6]         5
(10.6, 11.8]        3
(11.8, 13.0]        1
Name: fullbathcnt, dtype: int64
---
Column Names: latitude
(33339373.083, 33488642.6]        5
(33488642.6, 33636434.2]          0
(33636434.2, 33784225.8]        896
(33784225.8, 33932017.4]       6023
(33932017.4, 34079809.0]       8333
(34079809.0, 34227600.6]      10215
(34227600.6, 34375392.2]       2294
(34375392.2, 34523183.8]       1065
(34523183.8, 34670975.4]       2131
(34670975.4, 34818767.0]       1202
Name: latitude, dtype: int64
---
Column Names: longitude
(-118896316.175, -118770957.6]      86
(-118770957.6, -118646840.2]       291
(-118646840.2, -118522722.8]      2731
(-118522722.8, -118398605.4]      5084
(-118398605.4, -118274488.0]      6392
(-118274488.0, -118150370.6]      6072
(-118150370.6, -118026253.2]      6457
(-118026253.2, -117902135.8]      2486
(-117902135.8, -117778018.4]      1846
(-117778018.4, -117653901.0]       719
Name: longitude, dtype: int64
---
Column Names: lotsizesquarefeet
(-1921.844, 283993.3]     32108
(283993.3, 567077.6]         39
(567077.6, 850161.9]          8
(850161.9, 1133246.2]         5
(1133246.2, 1416330.5]        0
(1416330.5, 1699414.8]        0
(1699414.8, 1982499.1]        2
(1982499.1, 2265583.4]        0
(2265583.4, 2548667.7]        0
(2548667.7, 2831752.0]        2
Name: lotsizesquarefeet, dtype: int64
---
Column Names: propertycountylandusecode
0100    25427
0101     6117
0104      354
0103       84
010G       62
0108       52
010M       41
0113        6
0110        5
0109        5
0102        3
0111        2
0105        2
0133        1
0131        1
0114        1
0130        1
Name: propertycountylandusecode, dtype: int64
Column Names: propertyzoningdesc
LAR1          6293
LARS          1378
LBR1N         1100
SCUR2          611
LARE11         606
              ...
LCR17500         1
SHSP5*           1
SGC3*            1
AHR115000*       1
BFA15000*        1
Name: propertyzoningdesc, Length: 1218, dtype: int64
Column Names: rawcensustractandblock
(60371002.311, 60371890.017]    6381
(60371890.017, 60372768.933]    4051
(60372768.933, 60373647.849]    1645
(60373647.849, 60374526.765]    4594
(60374526.765, 60375405.681]    3639
(60375405.681, 60376284.597]    5388
(60376284.597, 60377163.513]    1661
(60377163.513, 60378042.429]     341
(60378042.429, 60378921.345]       0
(60378921.345, 60379800.261]    4464
Name: rawcensustractandblock, dtype: int64
---
Column Names: regionidcity
(3097.9339999999997, 42797.5]    23783
(42797.5, 82104.0]                6805
(82104.0, 121410.5]                792
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                17
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               767
Name: regionidcity, dtype: int64
---
Column Names: regionidcounty
(3097.8979999999997, 3098.519]        0
(3098.519, 3099.139]                  0
(3099.139, 3099.76]                   0
(3099.76, 3100.38]                    0
(3100.38, 3101.0]                 32164
(3101.0, 3101.62]                     0
(3101.62, 3102.24]                    0
(3102.24, 3102.861]                   0
(3102.861, 3103.481]                  0
(3103.481, 3104.101]                  0
Name: regionidcounty, dtype: int64
---
Column Names: regionidzip
(95678.306, 126351.3]    32153
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        11
Name: regionidzip, dtype: int64
---
Column Names: roomcnt
(-0.002, -0.0008]         0
(-0.0008, -0.0006]        0
(-0.0006, -0.0004]        0
(-0.0004, -0.0002]        0
(-0.0002, 0.0]        32164
(0.0, 0.0002]             0
(0.0002, 0.0004]          0
(0.0004, 0.0006]          0
(0.0006, 0.0008]          0
(0.0008, 0.001]           0
Name: roomcnt, dtype: int64
---
Column Names: unitcnt
(0.998, 1.1]    32152
(1.1, 1.2]          0
(1.2, 1.3]          0
(1.3, 1.4]          0
(1.4, 1.5]          0
(1.5, 1.6]          0
(1.6, 1.7]          0
(1.7, 1.8]          0
(1.8, 1.9]          0
(1.9, 2.0]         12
Name: unitcnt, dtype: int64
---
Column Names: yearbuilt
1950.0    1434
1955.0    1303
1953.0    1272
1954.0    1172
1952.0    1070
          ...
1892.0       1
1878.0       1
1882.0       1
1894.0       1
2016.0       1
Name: yearbuilt, Length: 132, dtype: int64
Column Names: structuretaxvaluedollarcnt
(-8983.721, 916653.0]     31594
(916653.0, 1833125.0]       450
(1833125.0, 2749597.0]       71
(2749597.0, 3666069.0]       27
(3666069.0, 4582541.0]        7
(4582541.0, 5499013.0]        7
(5499013.0, 6415485.0]        2
(6415485.0, 7331957.0]        1
(7331957.0, 8248429.0]        4
(8248429.0, 9164901.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
---
Column Names: taxvaluedollarcnt
(-22123.997, 2541053.6]     31606
(2541053.6, 5078853.2]        419
(5078853.2, 7616652.8]         85
(7616652.8, 10154452.4]        29
(10154452.4, 12692252.0]        9
(12692252.0, 15230051.6]        4
(15230051.6, 17767851.2]        5
(17767851.2, 20305650.8]        3
(20305650.8, 22843450.4]        1
(22843450.4, 25381250.0]        3
Name: taxvaluedollarcnt, dtype: int64
---
Column Names: assessmentyear
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      32164
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
---
Column Names: landtaxvaluedollarcnt
(-22174.34, 2233694.9]      31848
(2233694.9, 4467228.8]        220
(4467228.8, 6700762.7]         63
(6700762.7, 8934296.6]         14
(8934296.6, 11167830.5]         9
(11167830.5, 13401364.4]        4
(13401364.4, 15634898.3]        2
(15634898.3, 17868432.2]        1
(17868432.2, 20101966.1]        2
(20101966.1, 22335500.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
---
Column Names: taxamount
(-170.038, 29208.562]       31563
(29208.562, 58296.284]        445
(58296.284, 87384.006]        100
(87384.006, 116471.728]        25
(116471.728, 145559.45]        12
(145559.45, 174647.172]         7
(174647.172, 203734.894]        5
(203734.894, 232822.616]        3
(232822.616, 261910.338]        0
(261910.338, 290998.06]         4
Name: taxamount, dtype: int64
---
Column Names: censustractandblock
60379201162006.0    26
60371417002000.0    22
60379005042000.0    20
60371943002001.0    20
60372622001000.0    19
                    ..
60372721002011.0     1
60375773005014.0     1
60376500044004.0     1
60376201012008.0     1
60375034021020.0     1
Name: censustractandblock, Length: 20522, dtype: int64
Column Names: heating
Central       19827
Floor/Wall    12302
Solar            35
Name: heating, dtype: int64
Column Names: landuse
Single Family Residential    32164
Name: landuse, dtype: int64
Report Finished

In [2]:
df.fips

NameError: name 'df' is not defined